{{ define "main" }}
<div class="page__content__block">
  <h1>
    {{ with .Params.stamp }}<span class="text--stamp">{{ . }}</span>{{ end }}
    {{ .Title }}
  </h1>

  {{ with .Params.intro }}
  <p class="text--intro text--constrained-width">{{ . }}</p>
  {{ end }}

  {{ .Content }}
</div>

{{ if .Pages }}
<div class="page__content__block">
  <div class="cards">
    {{ range .Pages }}
    <article class="card">
      <a href="{{ .RelPermalink }}" class="card__link">
        {{ with .Params.image }}
        <div class="card__image">
          <img src="{{ . }}" alt="">
        </div>
        {{ end }}
        <div class="card__content">
          {{ with .Params.stamp }}
          <span class="text--stamp">{{ . }}</span>
          {{ end }}
          <h2 class="card__title">{{ .Title }}</h2>
          {{ with .Summary }}
          <p class="card__description">{{ . }}</p>
          {{ end }}
          {{ with .Date }}
          <span class="text--byline">{{ .Format "2. January 2006" }}</span>
          {{ end }}
        </div>
      </a>
    </article>
    {{ end }}
  </div>
</div>
{{ end }}
{{ end }}
