{{/* Footer content */}}
<div class="page__footer__content">
  <div class="row row--align-left">
    <div class="row__item row__item--basis-15">
      <h2 class="text--default-size text--pull">
        <strong>{{ .Site.Title }}</strong>
      </h2>
      <p>
        Aarhus Universitet<br>
        Nordre Ringgade 1<br>
        8000 Aarhus C
      </p>
    </div>
    <div class="row__item row__item--basis-15">
      <h2 class="text--default-size text--strong text--pull">Kontakt</h2>
      <ul class="list--dense ul--no-bullets">
        <li>
          <a href="mailto:kontakt@au.dk">kontakt@au.dk</a>
        </li>
        <li>
          Telefon: <a href="tel:+4587150000">+45 8715 0000</a>
        </li>
      </ul>
    </div>
  </div>
</div>

{{/* Compliance links */}}
<div class="page__footer__compliance">
  <ul class="page__footer__compliance__links">
    <li>
      <a href="/cookies/">Cookies på dette site</a>
    </li>
    <li>
      <a href="https://international.au.dk/about/profile/privacy-policy/">Aarhus Universitets privatlivspolitik</a>
    </li>
  </ul>
</div>

{{/* AU Logo */}}
<img class="page__footer__logo" src="{{ "assets/au-logo-da.svg" | relURL }}" alt="Aarhus Universitet logo">

{{/* AU Seal */}}
<img class="page__footer__seal" src="{{ "assets/au-seal-white.svg" | relURL }}" alt="Aarhus Universitets segl med to delfiner omkring et anker">
