{{ define "main" }}
<div class="page__content__block">
  <h1>
    <span class="text--stamp">Velkommen</span>
    <strong>{{ .Site.Title }}</strong>
  </h1>

  <p class="text--intro text--constrained-width">
    {{ .Site.Params.description }}
  </p>

  {{ .Content }}
</div>

{{ with .Site.GetPage "/nyheder" }}
{{ if .Pages }}
<div class="page__content__block">
  <h2>Seneste nyheder</h2>
  <div class="cards cards--horizontal">
    {{ range first 3 .Pages }}
    <article class="card">
      <a href="{{ .RelPermalink }}" class="card__link">
        <div class="card__content">
          {{ with .Params.stamp }}
          <span class="text--stamp">{{ . }}</span>
          {{ end }}
          <h3 class="card__title">{{ .Title }}</h3>
          {{ with .Summary }}
          <p class="card__description">{{ . | truncate 100 }}</p>
          {{ end }}
          <span class="text--byline">{{ .Date.Format "2. January 2006" }}</span>
        </div>
      </a>
    </article>
    {{ end }}
  </div>

  <div class="button-container">
    <a href="{{ .RelPermalink }}" class="button button--dimmed">
      Se alle nyheder
    </a>
  </div>
</div>
{{ end }}
{{ end }}
{{ end }}
