{{/*
  Button shortcode
  Usage: {{< button url="/link" text="Klik her" >}}
  Optional: type="dimmed|text" size="small|large"
*/}}
{{ $url := .Get "url" | default "#" }}
{{ $text := .Get "text" | default "Klik her" }}
{{ $type := .Get "type" | default "" }}
{{ $size := .Get "size" | default "" }}

{{ $class := "button" }}
{{ if eq $type "dimmed" }}{{ $class = printf "%s button--dimmed" $class }}{{ end }}
{{ if eq $type "text" }}{{ $class = printf "%s button--text" $class }}{{ end }}
{{ if eq $size "small" }}{{ $class = printf "%s button--small" $class }}{{ end }}
{{ if eq $size "large" }}{{ $class = printf "%s button--large" $class }}{{ end }}

<a href="{{ $url }}" class="{{ $class }}">{{ $text }}</a>
