{{/*
  Callout/notification shortcode
  Usage: {{< callout type="info" >}}Besked her{{< /callout >}}
  Types: info, warning, error, success
*/}}
{{ $type := .Get "type" | default "info" }}

{{ $class := "notification" }}
{{ if eq $type "warning" }}{{ $class = printf "%s notification--warning" $class }}{{ end }}
{{ if eq $type "error" }}{{ $class = printf "%s notification--error" $class }}{{ end }}
{{ if eq $type "success" }}{{ $class = printf "%s notification--success" $class }}{{ end }}

<div class="{{ $class }}" role="alert">
  <div class="notification__content">
    {{ .Inner }}
  </div>
</div>
